{% extends 'base.html.twig' %}

{% block title %}Miton.com{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
    <div class="jumbotron row">

        {% include 'cardTemplates/_showCard.html.twig' %}
        <div class="col-lg-4">
        <h2>Etapes</h2>
       
        {% for key, r in recette.etape %}

            {% include 'cardTemplates/_descriptionCard.html.twig' %}

        {% endfor %}
        </div>
        <div class="col-lg-4">
            <div class="column">
                <div>
                <h2>Ingredient</h2>

                </div>
                <div>
                <div class="row">
                <h2>Commentaires</h2>
                <a type="button" class="nav-link " >Laisser un commentaire</a>
                </div>
                    <div style="height:150px;overflow:auto">

                        {% for commentAll in commentAlls %}

                            {% include 'cardTemplates/_showCommentaire.html.twig' %}

                        {% endfor %}
                    </div>
                </div>    
            </div>
        </div>
    </div>

<div>

{{ form_start(commentaires, {'method': 'POST'}) }}

    {% if not is_granted('ROLE_USER') %} 
        {{ form_row(commentaires.pseudo) }}
    {% else %}   
        {{ form_row(commentaires.pseudo, {'value': app.user.pseudo }) }}
    {% endif %}  
        {{ form_row(commentaires.commentaire) }}
        {{ form_row(commentaires.note) }}

 <button class="btnValide col-3">{{ button| default('Poster') }}</button>

{{ form_end(commentaires) }}



</div>
<br><br>



{% endblock %}