{% extends 'base.html.twig' %}

{% block title %}Miton.com{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">



    <h1> {{ recette.nomrecette }} </h1>
    <label>Moyenne : {{ moyenne }}</label>
        <img src="{{ recette.image }}">

        {{ recette.difficulte.nomdifficulte }}<br>
        {{ recette.prix.nomprix }}<br>
        {{ recette.etape.etapes }}<br>
        {{ recette.user.pseudo }}<br>
        {{ recette.temps|date("H:i:s") }}<br>
        {{ recette.nombrepersonne }}<br>



</div>

<div>

{{ form_start(commentaires, {'method': 'POST'}) }}

    {% if not is_granted('ROLE_EDITOR') %} 
        {{ form_row(commentaires.pseudo) }}
    {% else %}   
        {{ form_row(commentaires.pseudo, {'value': app.user.pseudo }) }}
    {% endif %}  
        {{ form_row(commentaires.commentaire) }}
        {{ form_row(commentaires.note) }}

 <button class="btnValide col-3">{{ button| default('Envoyer') }}</button>

{{ form_end(commentaires) }}



</div>
<br><br>

<div>

{% for commentAll in commentAlls %}

{{ commentAll.commentaire}}
{{ commentAll.pseudo}}
{{ commentAll.note}}

{% endfor %}

</div>

{% endblock %}